@import "tailwindcss";  

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: none;
}


:root{
  background-color: #191919;
}

.arrDown{
  animation: anime infinite 1.5s linear;
}

@keyframes anime {
  0%{
    transform: translateY(-10px);
  }
  50%{
    transform: translateY(5px);
  }
  100%{
    transform: translateY(-10px);
  }
  
}
